/*for exam list*/
@font-face {
    font-family: bal;
    src: url(Baloo-Regular.ttf);
}
@font-face {
    font-family: pop;
    src: url(Poppins-Medium.ttf);
}
.container{
    margin:auto;
    width:98%;
    height:100%;
}
.nav{
background-color: black;
padding:0vw 2vw 0vw 2vw;
}
.nav img{
width:4vw;
margin-top:1.5vw;
}
.nav .s5{
font-family: pop;
font-size:2vw;
color:#2DBBE0;
font-weight:bold;
position: relative;
bottom:.8vw;
margin-top:1vw;
}
.s1,.s2,.s3,.s4,.s6{
color:white;
float:right;
margin:1vw;
font-size:1.3vw;
font-family: pop;
padding:1vw;
}
.s6{
    text-decoration: none;
    background-color:#4CD4CA;
    border-radius: 1vw;
    margin-top:1.5vw;
    padding: .5vw 1vw ;
}
.box1{
    text-align:center;
    height:auto;
    
    box-shadow:0 0 1vw rgb(143, 140, 140);
    padding:2vw;
}
.box1 h2{
    font-size: 40px;
    font-family: bal;
}
.p1{
    display:inline-block;
    margin:2vw;
    width:180px;
    height: 180px;
    background-color:  #b3ddf8;
}
.p1 img{
    margin-top:3vw;
    width: 60px;
    height: 60px;
}
.p1 h4{
    font-family:bal;
    font-weight:bold;
}
@media only screen and (max-width:600px) {
    .s1,.s2,.s3,.s4,.s6{
        font-size: 10px;
    }
    .nav{
        padding:1vw;
    }
}
.ex a{
    color:black;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
     /* Location of the box */
    left: 0;
    top: 4vw;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color:white;
    position: relative;
    width: 34vw;
    padding: 10px;
    border: 1px solid #888;
    float: right;
    right:20vw;
    border-radius: 1vw;
    font-family: pop;
    font-size:1.2vw;
    font-weight: bold;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content img{
      width:1.3vw;
      padding:1vw;
      background-color: #cfcdcd;
      border-radius: .3vw;
  }
  .modal-content span{
      position: relative;
      bottom: 1.6vw;
      font-size:1.2vw;
      font-weight: bold;
      font-family: bal;
      margin-left: .3vw;
  }
  .modal-content div{
      width:10vw;
      margin:.5vw;
      display: inline-block;
  }
   .view{
       text-decoration: none;
       font-size: 1vw;
       padding: .8vw 1.5vw;
       background-color:#e2dddd ;
       display: inline;
       color: black;
       font-family:pop;
       font-weight: bold;
   }
   .modal-content2{
    background-color:white;
    position: relative;
    width: 12vw;
    padding: 10px;
    border: 1px solid #888;
    float: right;
    right:17vw;
    border-radius: 1vw;
    font-family: pop;
    font-size:1.2vw;
    font-weight: bold;
   }
   .modal-content2 div {
       width:10vw;
       font-family: bal;
       font-size:1.3vw;
       margin:1vw;
       color: rgb(48, 46, 46);
   }
   .view:hover{
       background-color:#129FF7;
       
   }
   .modal-content a{
    color:black;
}
@media only screen and (max-width:700px){
    .modal{
        position:fixed;
        top:8vw;
        left:0;
    }
   }